@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.formContainer {
  background-image: url(../src/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .formWrapper {
    padding: 20px;
    background: transparent;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(225, 225, 225, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 28%;

    span {
      text-align: center;
      color: #fff;
      font-size: 20px;
    }

    .logo {
      color: white;
      font-weight: bold;
      font-size: 24px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .inputContainer {
        position: relative;
        display: flex;
        align-items: center;

        input[type="file"] {
          display: none;
        }

        input {
          width: 100%;
          padding: 10px;
          border: none;
          outline: none;
          background: transparent;
          border: 1px solid rgba(225, 225, 225, 0.1);
          font-size: 16px;
          color: #fff;
          border-radius: 40px;
          padding: 20px 45px 20px 20px;

          &::placeholder {
            color: #fff;
          }
        }

        .icon {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          color: #fff;
        }

        .adding {
          margin-right: 20px;
          color: #fff;
          transform: translateY(-15%);
          border: 2px solid rgba(211, 207, 219, 0.1);
          cursor: pointer;
        }

        .previewImage {
          width: 50px;
          height: 50px;
          border-radius: 30%;
          object-fit: cover;
          margin-left: 10px;
          border: 2px solid rgba(211, 207, 219, 0.1);
        }

        input[type="file"]:hover+.previewImage {
          border-color: rgba(211, 207, 219, 0.5);
        }

        input[type="file"]:focus+.previewImage {
          border-color: rgba(211, 207, 219, 0.8);
        }
      }

      button {
        width: 100%;
        background-color: rgb(141, 210, 223);
        color: white;
        height: 45px;
        font-weight: 700;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 40px;
        font-size: 16px;
      }

      button:hover {
        color: rgb(33, 180, 229);
      }
    }

    p {
      color: #fff;
      font-size: 20px;
      margin-top: 10px;
    }
  }

  @include tablet {
    .formWrapper {
      padding: 20px 30px;
    }

    form {
      input {
        width: 100%;
      }
    }
  }

  @include mobile {
    .formWrapper {
      padding: 20px 30px;
      width: auto;

      form {
        input {
          width: 100%;
        }
      }
    }
  }
}


.home {
  background-image: url(../src/img/Blue-Backgrounds-HD.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    width: 75%;
    height: 90%;
    display: flex;
    overflow: hidden;

    @include tablet {
      width: 90%;
      overflow: scroll;
    }

    .sidebar {
      flex: 1;
      background-color: white;
      border-right: 0.1px solid white;
      margin-left: -12px;
      position: relative;

      .navbar {
        display: flex;
        align-items: center;
        background-color: #128c7e;
        border-right: 0.1px solid white;
        height: 50px;
        padding: 10px;
        justify-content: space-between;
        color: black;

        .logo {
          font-weight: bold;

          @include tablet {
            display: none;
          }
        }

        .user {
          display: flex;
          gap: 10px;
          position: relative;
          img {
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
          }

          .dropdown {
            position: relative;

            .dropdown-icon {
              cursor: pointer;
              font-size: 20px;
              color: white;
            }

            .dropdown-menu {
              display: none;
              position: absolute;
              top: 30px;
              right: 0;
              background-color: white;
              border: 1px solid #ccc;
              border-radius: 5px;
              box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
              z-index: 1000;

              button {
                background: none;
                border: none;
                padding: 10px 20px;
                cursor: pointer;
                width: 100%;
                text-align: left;
              }

              button:hover {
                background-color: #f5f5f5;
              }
            }

            &.open .dropdown-menu {
              display: block;
            }
          }
        }
      }
      .search {
        border-bottom: 1px solid rgba(219, 210, 210, 0.722);
        background: rgba(225, 225, 225, 0.3);
        cursor: pointer;

        .searchForm {
          padding: 10px;
          position: relative;
          display: flex;
          align-items: center;

          .span {
            color: aliceblue;
          }

          input {
            background-color: transparent;
            border: none;
            color: black;
            outline: none;
            flex: 1;
            border-radius: 8px;
            padding: 5px;
            border: none;
            text-align: center;

            &::placeholder {
              color: black;
            }
          }
        }
      }

      .chats {
        overflow-y: auto;
        max-height: calc(99% - 100px);

        &:hover {
          overflow-y: auto;
        }
      }

      .userChat {
        padding: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        color: black;
        cursor: pointer;
        height: 80px;
        width: auto;
        overflow: hidden;

        &:hover {
          background-color: skyblue;
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        .userChatInfo {
          span {
            font-size: 18px;
            font-weight: 500;
            position: relative;
            top: 12px;
          }

          .TimeMessage {
            display: flex;
            justify-content: space-between;
            width: 350px;
            margin-top: 8px;

            .message {
              font-size: 15px;
              color: black;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
              flex: 1;
              margin-right: 10px;
            }

            .time {
              font-size: 12px;
              white-space: nowrap;
            }
          }
        }
      }
    }

    .chat {
      flex: 2;
      margin-left: -12px;

      .chatInfo {
        height: 50px;
        width: 100%;
        background-color: lightgray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 19px;
        font-weight: bold;
        color: black;

        img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .chatIcon {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
      }

      .chatIcons {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;

        img {
          height: 25px;
          cursor: pointer;
        }

        span {
          color: rgb(184, 184, 184);
          font-size: 20px;
          cursor: pointer;
        }
      }

      .messages {
        background-color: #F5F5F5;
        padding: 19px;
        height: calc(100% - 100px);
        overflow-y: scroll;

        .message {
          display: flex;
          gap: 20px;
          margin-bottom: 20px;

          .messageInfo {
            display: flex;
            flex-direction: column;
            color: gray;
            font-weight: 300;

            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }

          .messageContent {
            max-width: 80%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            word-break: break-all;

            p {
              background-color: white;
              padding: 10px 18px;
              border-radius: 0px 15px 15px 25px;
              max-width: max-content;
            }

            img {
              width: 50%;
            }
          }

          &.second {
            flex-direction: row-reverse;

            .messageContent {
              align-items: flex-end;

              p {
                background-color: #128c7e;
                color: white;
                border-radius: 10px 0px 20px 10px;
              }
            }
          }
        }
      }

      .input {
        height: 50px;
        background-color: white;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        word-break: break-all;

        .preview {
          width: 50px;
          height: 60px;
          position: relative;

          img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10px;
          }

          p {
            word-break: break-all;
          }
        }

        input {
          flex: 1;
          border: none;
          outline: none;
          color: #2f2d52;
          font-size: 18px;
          padding-left: 30px;

          &::placeholder {
            color: lightblack;
          }
        }

        .send {
          display: flex;
          align-items: center;
          text-align: center;
          gap: 15px;

          img {
            height: 24px;
            cursor: pointer;
          }

          button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 10px;

            &:disabled {
              background-color: #ccc;
              cursor: not-allowed;
            }
          }
        }

        .error {
          color: red;
          margin-top: 10px;
          text-align: center;
        }
      }

    }

  }
}

.lastMessageImage {
  max-width: 50px;
  /* Adjust the size as needed */
  max-height: 50px;
  /* Adjust the size as needed */
  border-radius: 5px;
  /* Optional: for rounded corners */
}


.preview {
  margin-bottom: 10px;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    border-radius: 10px;
    margin-top: 10px;
  }

  p {
    color: #5d5d5d;
    font-size: 14px;
    margin-top: 10px;
    word-wrap: break-word;
  }
}